[DEFAULT]
midi_device = nanoKONTROL2
midi_output = True
log_path = ~/.local/logs/pakontrol/pakontrol.log
pid_file = ~/.local/logs/pakontrol/pakontrol.pid

[Main Volume]
midi_event = control_change
midi_channel = 0
midi_control = 5
midi_output = False
pa_type = sink
pa_match_name = combined_output
pa_change = volume
pa_factor = 1.25

[Main Mute]
midi_event = control_change
midi_channel = 0
midi_control = 53
midi_output = True
pa_type = sink
pa_match_name = combined_output
pa_change = mute

[Rythmbox Mute]
midi_event = control_change
midi_channel = 0
midi_control = 54
midi_output = True
pa_type = sink_input
pa_change = volume
pa_match_prop_named = application.name
pa_match_prop_value = Rythmbox

[Rhythmbox Volume]
midi_event = control_change
midi_channel = 0
midi_control = 6
midi_output = False
pa_type = sink_input
pa_change = volume
pa_match_prop_named = application.name
pa_match_prop_value = Rhythmbox

